<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Adicionar</title>
    </head>
    <body>
         <h1>Adicionar questão</h1>
         <h3>Preencha esse formulário para criar a questão:</h3>
         <br></br>
         <form method="POST" action="{{ url_for('adicionar') }}">
         <label for="categoria">Categoria:</label>
         <input type="categoria" id="categoria" name="categoria" required>
         <br></br>
         <label for="enunciado">Enunciado:</label>
         <input type="enunciado" id="enunciado" name="enunciado" required>
         <br></br>
         <label for="numero">Numero:</label>
         <input type="numero" id="numero" name="numero" required>
         <br></br>
         <label for="resposta">Resposta:</label>
         <input type="resposta" id="resposta" name="resposta" required>
         <br></br>
         <label for="alternativa1">1º alternativa:</label>
         <input type="alternativa1" id="alternativa1" name="alternativa1" required>
         <br></br>
         <label for="alternativa2">2º alternativa:</label>
         <input type="alternativa2" id="alternativa2" name="alternativa2" required>
         <br></br>
         <label for="alternativa3">3º alternativa:</label>
         <input type="alternativa3" id="alternativa3" name="alternativa3" required>
         <br></br>
         <label for="alternativa4">4º alternativa:</label>
         <input type="alternativa4" id="alternativa4" name="alternativa4" required>
         <br></br>
         <label for="alternativa5">5º alternativa:</label>
         <input type="alternativa5" id="alternativa5" name="alternativa5" required>
         <br></br>
         <button type="submit">Enviar</button>
        </form>
    </body>