<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
       <meta charset="utf-8">
        <title>QuestionBanc</title>
        <link rel="stylesheet" href="static/home.css">
        <h1 class="logo">Question Banc</h1>
    </head>
    <body>
    <header>
        <div class="container">
            <h3>Encontre aqui desafios para aprimorar seus conhecimentos</h3>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('exibir_questoes') }}">Responder Questões</a></li>
                        <br>
                        <li><a href="{{ url_for('config') }}">Configuração</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>