<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
       <meta charset="utf-8">
        <title>QuestionBanc</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
    <header>
        <div class="container">
            <h1 class="logo">Question Banc</h1>
            <h3>Encontre aqui desafios para aprimorar seus conhecimentos</h3>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('verificar_resposta') }}">Responder<br>Questões</a></li>
                        <li><a href="{{ url_for('config') }}">Configuração</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>