<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Questões</title>
    </head>
    <body>
        <h1>Lista de Questões</h1>
        <ul>
            {% for questao in questoes %}
            <li>{{ questao.enunciado }}<br>Categoria: {{ questao.categoria }}<br>{{ questoes.alternativa1 }}<br>{{ questoes.alternativa2 }}<br>{{ questoes.alternativa3 }}<br>{{ questoes.alternativa4 }}<br>{{ questoes.alternativa5 }}<br>Resposta: {{ questao.resposta_correta }}</li>
            {% endfor %}
        </ul>
    </body>
</html>